:root {

    --gen-font-color: black;
    --background-color: white;
    --footer-color: #c4c4c4;
    --button-color: var(--footer-color);
    --button-hover-color: #aaaaaa;
    --question-select-bgcolor: #a3a3a3;
    --question-select-bgcolor-hover: #727272;
    --subtract-time-color: #c4c4c4;

}

body {

    width: 100vw;
    height: 100vh;
    margin: 0;

    font-size: 1rem;
    font-family: Calibri;
    color: var(--gen-font-color);

    background-color: var(--background-color);

}

header,
footer {

    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2%;

    height: 10%;
    width: 100%;

}

main {

    float: left;

    box-sizing: border-box;
    padding: 1%;

    height: 80%;
    width: 60%;

}

main div {

    display: flex;
    flex-flow: row nowrap;

    overflow-x: hidden;
    scroll-behavior: smooth;

    width: 100%;
    height: 100%;

}

section {

    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding: 1%;
    box-sizing: border-box;



}

section ul {

    list-style-type: none;
    border-radius: 10px;
    padding: 1%;
    box-sizing: border-box;

}

section ul li {

    background-color: var(--button-color);

    padding: 1%;
    margin: 1%;
    width: 30%;
    box-sizing: border-box;
    border-radius: 10px;

    transition: background-color 1s;

}

section ul li:hover {

    background-color: var(--button-hover-color);
    cursor: pointer;

}

footer {

    background-color: var(--footer-color);

}

footer span {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--question-select-bgcolor);
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;

    transition: color 1s, background-color 0.5s;

}

footer span:hover {

    color: black;
    background-color: var(--question-select-bgcolor-hover);
    cursor: pointer;


}

#timer {

    font-size: 3rem;

}

#subtract-time {

    margin-left: 1rem;
    color: var(--subtract-time-color);
    font-size: 2rem;

}

#view-scores {

    position: relative;

}

#view-scores ul {

    width: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
    box-sizing: border-box;
    padding: 0.2rem;
    position: absolute;
    top: 0%;
    left: 110%;
    margin: 0;

    background-color: var(--button-color);


}

#view-scores ul li {

    display: flex;
    justify-content: left;
    width: 95%;
    border-radius: 0.2rem;
    box-sizing: border-box;
    padding: 0.5rem;
    cursor: default;
    background-color: #e0e0e0;

    transition: background-color 1s;

}

#view-scores ul li:hover {

    background-color: var(--button-hover-color);

}

.side-main {

    float: left;

    width: 20%;
    height: 80%;

    /* background-color: green; */

}

.btn {

    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.1rem;
    font-size: 0.6rem;

    transition: background-color 1s;

}

.btn-play {

    background-color: greenyellow;
    border: 2px solid rgba(0, 0, 0, 0.02);

}

.btn-play:hover {

    background-color: rgb(156, 231, 42);

}

.btn-neutral {

    background-color: rgb(252, 255, 47);
    border: 2px solid rgba(0, 0, 0, 0.02);

}

.btn-neutral:hover {

    background-color: rgb(233, 233, 0);

}